# EDIT AND RENAME TO 'settings.yaml'

discord:
    token: DISCORD_BOT_TOKEN
bot:
    refresh_frequency: 10  # IN SECONDS
    info_url: https://github.com/tiagosvf/ideasbot/
jsonbin:  # https://jsonbin.io
    bin-url: YOUR BIN ID
    secret-key: YOUR API SECRET KEY  # https://jsonbin.io/api-keys
